@import url('https://fonts.googleapis.com/css?family=Caveat|Gloria+Hallelujah|Indie+Flower&display=swap');

.wishes-wrapper {
  background-image: url('http://31.media.tumblr.com/0f3927f0017e84b9c6ec69901c5a825a/tumblr_n9lwm7N7VX1tz79vpo1_r1_1280.gif');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  > h1 {
    text-align: center;
  }
}

h4,h3 { margin: 0;}

.wish {
  
  margin: 0 20px;
  background: rgba(0, 0, 0, 0.281);
  margin-bottom: 20px;
  border-radius: 10px;
  
  textarea {
    // font-family: 'Indie Flower', cursive;
    font-family: 'Caveat', cursive;
    min-height: 100%;
    width: 100%;
    background-color: transparent;
    outline: none;
    color: white;
    border: 0;
    resize: none;
    padding: 5px 10px;
    // font-family: 'Gloria Hallelujah', cursive;
    font-size: 1.3rem;
    margin-bottom: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin:0;

    &:focus{
      background-color: rgba(0, 0, 0, 0.452);

    }
  }

  .wish-info {
    background: rgba(0, 0, 0, 0.281);
    padding: 5px 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: space-between;

    div.wish-icons{
      display: flex;
      align-items: center;
    }

    i:not(.fa-check-circle) {
      color: white;
      font-size: 0.8rem;
      background-color: rgb(88, 87, 87);
      padding: 5px;
      border-radius: 5px;
      margin-right: 5px;
      cursor: pointer;
      border: 1px solid gray;
      
      // box-shadow: 0 0 2px 2px gray;
    }
    i.save {
      font-size: 0.6rem;
      background-color: royalblue;
      border:0;
    }

    i.fa-check-circle{
      margin-left: 10px;
      color: gray;
      &.wish-sent{color: rgb(2, 184, 2);}
    }
    
  }


}
