* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli|Poppins&display=swap');
@import 'animate';

body, p { margin: 0}

body {
  background-image: url('http://31.media.tumblr.com/0f3927f0017e84b9c6ec69901c5a825a/tumblr_n9lwm7N7VX1tz79vpo1_r1_1280.gif');
  // background-image: url('https://media.giphy.com/media/U3qYN8S0j3bpK/giphy.gif');
  background-size: cover;
  background-repeat: no-repeat;
  overscroll-behavior-y: none;
  height: 100vh;
  width: 100vw;
  color: white;
  font-family: 'Muli', sans-serif;
  font-weight: bold;
  transition: 5s all;
}


#root {
  height: 100%;
  width: 100%;
}

.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

$bannerBackground: white;
$bannerText: black;
.banner {
  display: flex;
  align-items: center;
  // background-color:$bannerInner;
  background-color: $bannerBackground;
  height: 300px;
  width: 300px;
  color: $bannerText;
  border-radius: 100%;
  font-family: 'Poppins', sans-serif;
  text-shadow: 2px 2px 2px rgb(175, 174, 174);
  box-shadow: 5px 5px 5px 10px $bannerText;
}

.page{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.countdown-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  text-align: center;
  padding-top: 50px;
  
  .number {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.376);
    height: 100px;
    width: 100px;
    border-radius: 10px;
    color: #ffffff;
    margin-bottom: 5px;
    font-size: 50px;
    transition: 10s;
  }

  span {
    font-size: 20px;
    text-shadow: 2px 2px black;
  }
}

@media screen and (max-width:600px){
  .countdown-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .banner {
    width: 250px;
    height: 250px;
    font-size: 14px;
  }
}


form.message {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  width: 200px;

  input{
    width: 60%;
    background-color: transparent;
    border: 0;
    border-bottom: black solid 2px;
    outline: none;
    color: black;
    text-align: center;
    font-size: 1rem;
    &::placeholder{
      color: black;
    }
  }

  textarea{
    resize: none;
    border-radius: 2px;
    border: 0;
    width: 100%;
    outline: none;
    font-size: 0.8rem;
    min-height: 3rem;
    box-shadow: 2px 2px 5px 2px rgb(41, 41, 41);
    padding: 5px;
  }

  button{
    width: 50%;
    background-color: royalblue;
    font-size: 1rem;
    border: 0;
    border-radius: 2px;
    border: 2px solid white;
    color: white;
    padding: 10px 5px;
  }

  p {
    color: rgb(255, 106, 106);
    font-size: 0.8rem;
  }

}

.shake {
  animation-name: shake;
  animation-duration: 0.5s;
}
